#root > div {
  overflow: hidden;
}

#root .sc-bdnylx,
#root .iVRgpS {
  background: rgba(0, 86, 125, 0.8);
}

#root .sc-dlnjPT,
#root .gepelH {
  color: rgb(249, 217, 69);
  font-size: 2rem;
  line-height: 1.75;
}

#root .sc-gtssRu,
#root .gnlyMk {
  font-size: 3.25rem;
}

#root .sc-eCApGN,
#root .bXEehW {
  font-size: 1.8rem !important;
}

.content-block {
  background: rgba(0, 86, 125, 0.8) !important;
}

.content-block p {
  color: rgb(249, 217, 69);
  font-size: 2rem;
  line-height: 1.75;
}

.recurring-time,
.start-time,
.end-time,
.shout-time {
  color: white !important;
  font-size: 1.75rem;
}
