@font-face {
    font-family: Minion;
    src: url("./minion.otf") format("opentype");
}

@font-face {
    font-family: Minion;
    font-weight: bold;
    src: url("./minion.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: Minion;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  overflow: hidden;
}


.romanacci-pizza h1 {
  font-size: 64px!important;
  text-align: left!important;
}

.romanacci-pizza h4 {
  font-size: 32px!important;
}

.romanacci-pizza .item-container {
  padding-left: 0;
}

.romanacci-pizza .item-container p {
  font-family: Minion;
}

.romanacci-pizza .item-box {
  padding-top: 1rem;
}
